<div class="toolbar">
  <input pInputText placeholder="Search skills..." [value]="filter()" (input)="filter.set($any($event.target).value)" />
  <button pButton label="New Skill" icon="pi pi-plus" (click)="openCreate()"></button>
</div>

<p-table [value]="filteredSkills()" [paginator]="true" [rows]="10" dataKey="id">
  <ng-template #header>
    <tr><th>Skill</th><th>Usage</th><th style="width:200px">Actions</th></tr>
  </ng-template>

  <ng-template #body let-s>
    <tr>
      <td>{{ s.skill }}</td>
      <td>{{ usageCount(s.id) }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-text" (click)="openEdit(s)"></button>
        <button pButton icon="pi pi-trash" class="p-button-danger p-button-text" (click)="deleteSkill(s.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="{{ editing() ? 'Edit Skill' : 'New Skill' }}" [visible]="dialogVisible()" [modal]="true" closeOnEscape="true" [closable]="false"
>
  <div class="p-fluid">
    <label class="p-col-12 p-md-3">Skill</label>
    <div class="p-field">
      <input pInputText [(ngModel)]="editValue" />
    </div>
  </div>
  <ng-template #footer>
    <button pButton label="Save" class="p-button-success" (click)="save()"></button>
    <button pButton label="Cancel" class="p-button-plain" (click)="closeDialog()"></button>
  </ng-template>
</p-dialog>
